@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <br />
    <br />
    <h2 style="color:purple">@ViewData["Title"]</h2>
    <br />
    <br />
    <h3>İnönü Mahellesi 794 sokak no 6 daire 4</h3>
    <h3>Bornova İzmir</h3>
    <br />
    <h3>E-posta Adresimiz:</h2>
    <h3><a href="mailto:mustafaesen902@gmail.com">mustafaesen902@gmail.com</a></h3>
</div>